<h1>Editing Tournament Participation</h1>

<%= render 'form', tournament_participation: @tournament_participation %>

<%= link_to 'Show', @tournament_participation %> |
<%= link_to 'Back', tournament_participations_path %>
