<script type="text/template" id="guild_history_template">
	<%= stylesheet_link_tag "style_guild_history.css" %>
	
	<div class="guild_history_container">
		<div class="gh_header">
			<div class="allGuild">
				<button type="button" id="all_guild_btn" class="btn btn-primary btn-lg btn-block btn-dark">All guilds</button>
			</div>
			<div class="name_score">
				<h3>The guild name</h3>
				<p>Score: </p>
			</div>
			<div class="owner">
				<h3>Owner</h3>
				<img src="" width="80" height="80" alt="" class="profil profil-photo">
				<p>pseudo</p>
			</div>
			<div class="officer">
				<h3>Officer</h3>
				<img src="" width="80" height="80" alt="" class="profil profil-photo">
				<p>pseudo</p>
			</div>
			<div class="leave_guild">
				<button type="button" id="leave_guild_btn" class="btn btn-primary btn-lg btn-block btn-dark">Leave the guild</button>
			</div>
		</div>
	</div>

</script>
