<script type="text/template" id="guild_history_template">
	<%= stylesheet_link_tag "style_guild_history.css" %>
	
	<div class="guild_history_container">
		<div class="gh_header">
			<div class="allGuild">
				<button type="button" id="all_guild_btn" class="btn btn-primary btn-lg btn-block btn-light border border-light">All guilds</button>
			</div>
			<div class="name_score">
				<h3><%%= guild.name %></h3>
				<p>Score: <%%= guild.points %></p>
			</div>
			<div class="owner">
				<h3>Owner</h3>
				<img src="<%%= owner.avatar %>" width="80" height="80" alt="" class="profil profil-photo">
				<p><%%= owner.name %></p>
			</div>
			<div class="officer">
				<h3>Officer</h3>
				<img src="<%= image_url('profil-photo.png') %>" width="80" height="80" alt="" class="profil profil-photo">
				<p>pseudo</p>
			</div>
			<%% if (is_current_user_guild){ %>
				<div class="leave_guild">
					<button type="button" id="leave_guild_btn" class="btn btn-primary btn-lg btn-block btn-light border border-light">Leave the guild</button>
				</div>
			<%% } %>
		</div>

		<div class="gl_body">
			<h2>Guild War history</h2>
			<div class="history">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Winner</th>
							<th scope="col">Prize points</th>
							<th scope="col">Start</th>
							<th scope="col">End</th>
						</tr>
					</thead>
					<tbody>
						<%%	for (let i = 0; i < wars.length; i++) { %>
							<%% if (wars[i].winner_id == guild.id) {%>
								<tr style="background: green;">
							<%% }else if (wars[i].winner_id == null) {%>
								<tr style="background: blue;">
							<%% }else { %>
								<tr style="background: red;">
							<%% } %>
								<%% var start_date = new Date(wars[i].start_date) %>
								<%% var end_date = new Date(wars[i].end_date) %>
								<%% const options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' } %>
								<th scope="row"><%%= i + 1 %></th>

								<%% if (wars[i].winner_id == null) {%>
									<td>equality</td>
									<td>(<%%= wars[i].prize_in_points %>)</td>
								<%% }else if (wars[i].winner_id == guild.id) {%>
									<td><%%= guilds.findWhere({id: wars[i].winner_id}).toJSON().name %></td>
									<td>+<%%= wars[i].prize_in_points %></td>
								<%% }else { %>
									<td><%%= guilds.findWhere({id: wars[i].winner_id}).toJSON().name %></td>
									<td>-<%%= wars[i].prize_in_points %></td>
								<%% } %>
								<td><%%= start_date.toLocaleDateString('fr-FR', options) %></td>
								<td><%%= end_date.toLocaleDateString('fr-FR', options) %></td>
							</tr>
						<%% } %>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</script>
