<script type="text/template" id="guild_users-template">
    <div>
        <h1><%%= guild.name %></h1>
        <div style="overflow-y: auto; height: auto; max-height: 60vh;" id="guild_participations_div">
        </div>
    </div>
    <script>
        console.log("guild participations");
        var GuildParticipation = Backbone.Model.extend({
            urlRoot: '/guild_participations'
        });
        var guild_participation = new GuildParticipation({id: <%%= guild.id %>});
        guild_participation.fetch({
            data: {type: "all_participations", user_id: <%== current_user.id %>, guild_id: <%%= guild.id %>},
            success: function(data){
                data.unset("id");//pour enlever le id et pour qu il ne soit pas pris en compte dans le length
                console.log(data.toJSON());
                console.log(data.toJSON().length);
                console.log("guild participation !");
                data = data.toJSON();
                var guild_participations = data["guild_participations"];
                var users_in_order = data["users"];
                var user_participation = data["user_participation"];
                console.log(data);
                //console.log(data[1]);
                var guild_participation_div = $("#guild_participations_div");
                var size = Object.keys(guild_participations).length;
                var i = 0;
                while (i < size)
                {
                    console.log(i);
                    guild_participation_div.append("<div>" + users_in_order[guild_participations[i].user_id] +
                                                    (<%%= as_admin %> && !guild_participations[i].is_admin ? "<button onclick='ft_ownerize_guild(" + guild_participations[i].id + ")'>Ownerize</button>" : "") +
                                                    ((<%%= as_admin %> || (user_participation && user_participation.is_admin)) && !guild_participations[i].is_admin && !guild_participations[i].is_officer ? "<button onclick='ft_officerize_guild(" + guild_participations[i].id + ", <%%= as_admin %>)'>Officerize</button>" : "") +
                                                    ((<%%= as_admin %> || (user_participation && user_participation.is_admin)) && !guild_participations[i].is_admin && guild_participations[i].is_officer ? "<button onclick='ft_unofficerize_guild(" + guild_participations[i].id + ", <%%= as_admin %>)'>Unofficerize</button>" : "") +
                                                    ((<%%= as_admin %> || (user_participation && (user_participation.is_admin || user_participation.is_officer))) && !guild_participations[i].is_admin && <%== current_user.id %> != guild_participations[i].user_id ? "<button onclick='ft_kick_guild(" + guild_participations[i].id + ", <%%= as_admin %>)'>Kick</button>" : "") +
                                                    "</div>");
                    i++;
                }
            }
        });
        function ft_ownerize_guild(guild_participation_id)
        {
            var GuildParticipation = Backbone.Model.extend({
                urlRoot: '/guild_participations'
            });
            var guild_participation = new GuildParticipation({id: guild_participation_id});
            guild_participation.fetch({
                success: function(data){
                    guild_participation.save(
                    {
                        type: "new_owner"
                    },
                    {
                        success: function()
                        {
                            console.log("ownerize guild");
                            guildusersview.render(<%%= guild.id %>, true);
                        }
                    });
                }
            });
        }
        function ft_officerize_guild(guild_participation_id, as_admin)
        {
            var GuildParticipation = Backbone.Model.extend({
                urlRoot: '/guild_participations'
            });
            var guild_participation = new GuildParticipation({id: guild_participation_id});
            guild_participation.fetch({
                success: function(data){
                    data.set("is_officer", true);
                    guild_participation.save({},
                    {
                        success: function()
                        {
                            console.log("officerize guild");
                            if (as_admin)
                                guildusersview.render(<%%= guild.id %>, true);
                            else
                                guildusersview.render(<%%= guild.id %>, false);
                        }
                    });
                }
            });
        }
        function ft_unofficerize_guild(guild_participation_id, as_admin)
        {
            var GuildParticipation = Backbone.Model.extend({
                urlRoot: '/guild_participations'
            });
            var guild_participation = new GuildParticipation({id: guild_participation_id});
            guild_participation.fetch({
                success: function(data){
                    data.set("is_officer", false);
                    guild_participation.save({},
                    {
                        success: function()
                        {
                            console.log("unofficerize guild");
                            if (as_admin)
                                guildusersview.render(<%%= guild.id %>, true);
                            else
                                guildusersview.render(<%%= guild.id %>, false);
                        }
                    });
                }
            });
        }
        function ft_kick_guild(guild_participation_id, as_admin)
        {
            var GuildParticipation = Backbone.Model.extend({
                urlRoot: '/guild_participations'
            });
            var guild_participation = new GuildParticipation({id: guild_participation_id});
            guild_participation.destroy({
                success: function()
                {
                    console.log("kick guild");
                    if (as_admin)
                        guildusersview.render(<%%= guild.id %>, true);
                    else
                        guildusersview.render(<%%= guild.id %>, false);
                }
            });
        }
    </script>
</script>