<script type="text/template" id="guild_users-template">
	<%= stylesheet_link_tag "style_guild_history.css" %>

	<div class="player_list">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Player</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody id="guild_participations_div">
			</tbody>
		</table>
	</div>

    <script>
    <%% if(guild.id != 0) { %>
        var Guild = Backbone.Model.extend({
            urlRoot: '/guilds'
        });
        var guild = new Guild({id: <%%= guild.id %>});
        guild.fetch({
            data: {type: "all_participations", user_id: <%== current_user.id %>, guild_id: <%%= guild.id %>},
            success: function(data){
                data.unset("id");//pour enlever le id et pour qu il ne soit pas pris en compte dans le length
                data = data.toJSON();
                var guild_participations = data["guild_participations"];
                var users_in_order = data["users"];
                var user_participation = data["user_participation"];
                var guild_participation_div = $("#guild_participations_div");
                guild_participation_div.empty();
                var size = Object.keys(guild_participations).length;
                var i = 0;
                while (i < size)
                {
                    guild_participation_div.append('<tr> <td>' + users_in_order[guild_participations[i].user_id] + '</td>' +
                                                    (<%%= as_admin %> && !guild_participations[i].is_admin ? "<button onclick='ft_ownerize_guild(" + JSON.stringify(guild_participations[i]) + ")'>Ownerize</button>" : "") +
                                                    ((<%%= as_admin %> || (user_participation && user_participation.is_admin)) && !guild_participations[i].is_admin && !guild_participations[i].is_officer ? "<td> <button onclick='ft_officerize_guild(" + JSON.stringify(guild_participations[i]) + ", <%%= as_admin %>)'>Officerize</button></td>" : "") +
                                                    ((<%%= as_admin %> || (user_participation && user_participation.is_admin)) && !guild_participations[i].is_admin && guild_participations[i].is_officer ? "<td><button onclick='ft_unofficerize_guild(" + JSON.stringify(guild_participations[i]) + ", <%%= as_admin %>)'>Unofficerize</button></td>" : "") +
                                                    ((<%%= as_admin %> || (user_participation && (user_participation.is_admin || user_participation.is_officer) && !guild_participations[i].is_admin && <%== current_user.id %> != guild_participations[i].user_id)) ? "<td><button onclick='ft_kick_guild(" + JSON.stringify(guild_participations[i]) + ", <%%= as_admin %>)'>Kick</button></td>" : "") +
                                                    "</tr>");//'
                    i++;
                }
            }
        });
    <%% } %>
        function ft_ownerize_guild(guild_participation)
        {
            console.log(guild_participation);
            var GuildParticipation = Backbone.Model.extend({
                urlRoot: '/guild_participations'
            });
            var guild_participation = new GuildParticipation({
                id: guild_participation.id,
                user_id: guild_participation.user_id,
                guild_id: guild_participation.guild_id
            });
            guild_participation.save(
            {
                type: "new_owner"
            },
            {
                success: function()
                {
                    guildusersview.render(<%%= guild.id %>, true);
                },
                error: function(data, xhr)
                {
                    Swal.fire({
                        icon: 'error',
                        title: 'Ooops...',
                        text: 'Something went wrong!',
                        footer: xhr.statusText
                    });
                    guildusersview.render(<%%= guild.id %>, true);
                }
            });
        }
        function ft_officerize_guild(guild_participation, as_admin)
        {
            var GuildParticipation = Backbone.Model.extend({
                urlRoot: '/guild_participations'
            });
            var guild_participation = new GuildParticipation({id: guild_participation.id});
            guild_participation.set("is_officer", true);
            guild_participation.save({},
            {
                success: function()
                {
                    if (as_admin)
                        guildusersview.render(<%%= guild.id %>, true);
                    else
                        guildusersview.render(<%%= guild.id %>, false);
                },
                error: function(data, xhr)
                {
                    Swal.fire({
                        icon: 'error',
                        title: 'Ooops...',
                        text: 'Something went wrong!',
                        footer: xhr.statusText
                    });
                    if (as_admin)
                        guildusersview.render(<%%= guild.id %>, true);
                    else
                        guildusersview.render(<%%= guild.id %>, false);
                }
            });
        }
        function ft_unofficerize_guild(guild_participation, as_admin)
        {
            var GuildParticipation = Backbone.Model.extend({
                urlRoot: '/guild_participations'
            });
            var guild_participation = new GuildParticipation({id: guild_participation.id});
            guild_participation.set("is_officer", false);
            guild_participation.save({},
            {
                success: function()
                {
                    if (as_admin)
                        guildusersview.render(<%%= guild.id %>, true);
                    else
                        guildusersview.render(<%%= guild.id %>, false);
                },
                error: function(data, xhr)
                {
                    Swal.fire({
                        icon: 'error',
                        title: 'Ooops...',
                        text: 'Something went wrong!',
                        footer: xhr.statusText
                    });
                    if (as_admin)
                        guildusersview.render(<%%= guild.id %>, true);
                    else
                        guildusersview.render(<%%= guild.id %>, false);
                }
            });
        }
        function ft_kick_guild(guild_participation, as_admin)
        {
            console.log(guild_participation);
            console.log(as_admin);
            var GuildParticipation = Backbone.Model.extend({
                urlRoot: '/guild_participations'
            });
            var guild_participation = new GuildParticipation({id: guild_participation.id});
            guild_participation.destroy({
                success: function()
                {
                    if (as_admin)
                        guildusersview.render(<%%= guild.id %>, true);
                    else
                        guildusersview.render(<%%= guild.id %>, false);
                },
                error: function(data, xhr)
                {
                    Swal.fire({
                        icon: 'error',
                        title: 'Ooops...',
                        text: 'Something went wrong!',
                        footer: xhr.statusText
                    });
                    if (as_admin)
                        guildusersview.render(<%%= guild.id %>, true);
                    else
                        guildusersview.render(<%%= guild.id %>, false);
                }
            });
        }
    </script>
</script>