<script type="text/template" id="guild_history_template">
	<%= stylesheet_link_tag "style_guild_history.css" %>
	
	<div class="guild_history_container">
		<div class="gh_header">
			<div class="allGuild">
				<button type="button" id="all_guild_btn" class="btn btn-primary btn-lg btn-block btn-light border border-light">All guilds</button>
			</div>
			<div class="name_score">
				<h3><%%= guild.name %></h3>
				<p>Score: <%%= guild.points %></p>
			</div>
			<div class="owner">
				<h3>Owner</h3>
				<img src="<%%= owner.avatar %>" width="80" height="80" alt="" class="profil profil-photo">
				<p><%%= owner.name %></p>
			</div>
			<div class="officer">
				<h3>Officer</h3>
				<img src="<%= image_url('profil-photo.png') %>" width="80" height="80" alt="" class="profil profil-photo">
				<p>pseudo</p>
			</div>
			<%% if (is_current_user_guild){ %>
				<div class="leave_guild">
					<button type="button" id="leave_guild_btn" class="btn btn-primary btn-lg btn-block btn-light border border-light">Leave the guild</button>
				</div>
			<%% } %>
		</div>

		<div class="gl_body">
			<h2>Guild War history</h2>
			<div class="history">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Winner</th>
							<th scope="col">Prize pool</th>
							<th scope="col">Start</th>
							<th scope="col">End</th>
						</tr>
					</thead>
					<tbody>
						<%%	for (let i = 0; i < war_p.length; i++) { %>
							<%% current_war = wars.findWhere({id: war_p[i].war_id}) %>
							<%% wind_guild = guilds.findWhere({id: current_war.winner_id})%>
							<tr style="background: green;">
								<th scope="row"><%%= i + 1 %></th>
								<td><%% wind_guild.name %></td>
								<td><%% current_war.prize_in_points %></td>
								<td><%% current_war.start_date %></td>
								<td><%% current_war.end_date %></td>
							</tr>
						<%% } %>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</script>
