<script type="text/template" id="guild_history_template">
	<%= stylesheet_link_tag "style_guild_history.css" %>
	
	<div class="guild_history_container">
		<div class="gh_header">
			<div class="allGuild">
				<button type="button" id="all_guild_btn" class="btn btn-primary btn-lg btn-block btn-light border border-light">All guilds</button>
			</div>
			<div class="name_score">
				<h3>The guild name</h3>
				<p>Score: </p>
			</div>
			<div class="owner">
				<h3>Owner</h3>
				<img src="" width="80" height="80" alt="" class="profil profil-photo">
				<p>pseudo</p>
			</div>
			<div class="officer">
				<h3>Officer</h3>
				<img src="" width="80" height="80" alt="" class="profil profil-photo">
				<p>pseudo</p>
			</div>
			<div class="leave_guild">
				<button type="button" id="leave_guild_btn" class="btn btn-primary btn-lg btn-block btn-light border border-light">Leave the guild</button>
			</div>
		</div>

		<div class="gl_body">
			<h2>Guild War history</h2>
			<div class="history">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">First</th>
							<th scope="col">Last</th>
							<th scope="col">Handle</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>Otto</td>
							<td>@mdo</td>
					  	</tr>
					  	<tr>
							<th scope="row">2</th>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>@fat</td>
					  	</tr>
					  	<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</script>
