<script type="text/template" id="ladder_template">
	<%= stylesheet_link_tag "style-ladder.css" %>
	
	<div class="ladder_container">
		<div class="ld_header">
			<button type="button" id="match_making_btn" class="btn btn-primary btn-lg btn-block btn-light border border-light">Match making</button>
		</div>

		<div class="ld_body">
			<h2>Ladder ranking</h2>
			<div class="ranking">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Rank</th>
							<th scope="col">Player</th>
							<th scope="col">Points</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>tom jedusor</td>
							<td>1266</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>

</script>