<script type="text/template" id="ladder_template">
	<%= stylesheet_link_tag "style-ladder.css" %>
	
	<div class="ladder_container">
		<div class="ld_header" >
			<div id="btn_match_making">
				<button type="button" id="match_making_btn" class="btn btn-primary btn-lg btn-block btn-light border border-light" onclick="add_to_list(<%=current_user.id%>)">Match making</button>
			</div>
			<select name="mode" id="mode_match_making">
					<option value="ranked">Ranked</option>
					<option value="casual">Casual</option>
			</select>
		</div>

		<div class="ld_body">
			<h2>Ladder ranking</h2>
			<div class="ranking">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Rank</th>
							<th scope="col">Player</th>
							<th scope="col">Points</th>
						</tr>
					</thead>
					<tbody>
					<%%	for (let i = 0; i < ladder.length; i++) { %>
						<tr>
							<th scope="row"><%%= i + 1 %></th>
							<td><a class="" onclick="Backbone.history.navigate('/profile/<%%= ladder[i].id %>', {trigger: true});" ><%%= ladder[i].name %></a></td>
							<td><%%= ladder[i].points %></td>
						</tr>
					<%% } %>
					</tbody>
				</table>
			</div>

		</div>
	</div>

</script>

<script type="text/template" id="quit_list">
	<button type="button" id="match_making_btn" class="btn btn-primary btn-lg btn-block btn-light border border-light" onclick="quit_list(<%=current_user.id%>)">Waiting...</button>
</script>