<script type="text/template" id="log-template">
<%= stylesheet_link_tag "style-log.css" %>

<div class="container-1">
	<div>
		<p>current: <%%= user.name %></p>
	</div>

	<h3> User: </h3>
	<div>
	<button class="bt" id="add-user">ADD</button>
	<button class="bt"  id="delete-user">DELETE</button>
	</div>
	<%% for(let i = 0; i < users.length; i++) { %>
		<div class="container-2">
			<div> <%%= users[i].name + " " + users[i].id %> </div>
			<img src="<%%= users[i].avatar %>" style="width: 100px;"> </img>
			<div> <%%= users[i].current_status %> </div>
			<div> <%%= users[i].points %> </div>
			<div> <%%= users[i].is_admin %> </div>
		</div>
	<%% } %>

</div>
<button class="bt" id="logout-main">LOG_OUT</button>
<button class="bt"  id="user_status">SEE STATUS</button>
</script>


