<script type="text/template" id="log-template">
<%= stylesheet_link_tag "style-log.css" %>
<div class="container-0">
<div class="container-1">
	<div>
		<h3>Welcome <%%= user.name %>  to the Pong, a.k.a Ft Transcendence !<br><br></h3>
		<ul>
		<li>The game length is 3 minutes or ends when a player reaches 11 points, 
		if after 3 minutes the score is even the next point decides who wins.
		</li><li>Be careful the ball’s speed increases by the time.
		</li><li>Ranked games give you points in the main ladder but casual games doesn’t.
		</li><li>Titles can be win through administrators tournaments and displayed in your profile.
		</li><li>A tournament can’t start without a minimum of 2 players.
		Warning: If you’re not ready when it’s your turn in the tournament you are considered forfeiting.
		</li><li>You can create chat groups and communicate with other players in play/live page.
		</li><li>You can join a guild and increase your guild’s points by playing,
		your guild can earn more points by winning a guild wars,
		during which you can challenge the guild opponent players.
		</li></ul>
		<h5>Enjoy, One of the creator ;)<br><br></h5>
		<ul>
		<li>La durée d’un match est de 3 minutes ou s’achève quand un joueur atteint 11 points,
		si au bout de 3 minutes le score est nul, le point suivant decide de qui sera le vainqueur.
		</li><li>Faites attention la vitesse de la balle augmente avec le temps.
		</li><li>Les matches Ranked vous fait gagner des points sur le classement(ladder) principal, mais pas les matches Casuel.
		</li><li>Des titres peuvent être gagnés à travers les tournois des administrators, et peuvent être affichés sur votre profil.
		</li><li>Un tournoi ne peut pas commencer si il n’y a pas au minimum 2 joueurs inscrits.
		Attention: Si vous n’êtes pas prêt quand un de vos matches doit commencer c’est considéré comme un abandon.
		</li><li>Vous pouvez créer des groupes de chat et communiquer avec d’autres joueurs dans la page live/play.
		</li><li>Vous pouvez rejoindre une guilde et participer au points de votre guilde en jouant,
		votre guild peut gagner plus de points en gagnant une guerre de guildes,
		durant laquelle vous pouvez defier les joueurs de la guilde adverse.
		</li></ul>
		<h5>Bon jeu, Un des créateur ;)</h5>
	</div>
</div>
</div>
</script>


