<script type="text/template" id="option-template">
<%= stylesheet_link_tag "style-edit_profile.css" %>

<div class="edit_profile_view-container">
    <div class="form-container">

		<!-- Title -->
		<div class="form-title">
            <h2>Edit profile</h2>    
        <div/>
		
		<br>
		
		<form id="edit_profile_form">
				
			<!-- Pseudo -->
			<div class="form-group">
				<label for="pseudo_input">Pseudo</label>
				<input type="text" class="form-control" id="edit_profile_pseudo_input" value="<%%= user.name %>">
			</div>

			<br>

			<!-- Current Avatar -->
			<p>Current Avatar</p>
			<img src="<%%= user.avatar %>" style="width: 100px;" id="edit_profile_current_avatar"> </img>

			<br>

			<!-- Avatar Upload -->
			<div class="form-group">
				<label for="avatar_input">Avatar Upload</label>
				<input type="file" class="form-control-file" id="edit_profile_avatar_input">
			</div>

			<br>

			<!-- Double Factor Auth Checkbox -->
			<div class="form-check">
			<%% if (user.enabled_two_factor_auth == true) { %>
				<input type="checkbox" class="form-check-input" id="edit_profile_two_factor_checkbox" checked="checked">
			<%% } else { %>
				<input type="checkbox" class="form-check-input" id="edit_profile_two_factor_checkbox">
			<%% } %>
				<label class="form-check-label" for="google_authenticator_checkbox">Two factor authentication</label>
			</div>
				
			<br>

			<!-- Submit -->
			<button type="submit" id="edit_profile_form_submit" class="btn btn-primary">Save profile</button>

		</form>

	</div>

	<br>
	<br>

	<!-- Double Factor Auth Modal -->
	<div class="edit-profile-modal-btn">
		<p>Generate QR code for Google Authenticator</p>
		<div class="box-auth">
			<button type="button" class="btn btn-primary btn-dark" data-toggle="modal" data-target="#modalGoogle">
				<img src="<%= image_url('google.png') %>" width="60em" height="60em" alt="" class="profil profil-photo">
			</button>
		</div>
	</div>

</div>

<!-- Google Modal -->
<div class="modal fade" id="modalGoogle" tabindex="-1" role="dialog" aria-labelledby="modalGoogle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Google authentification</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<%= stylesheet_link_tag "style-qrcode.css" %>
				<% require "rqrcode" %>
				<% @qr = RQRCode::QRCode.new(current_user.provisioning_uri("Transcendence"), :size => 13, :level => :h ) %>
				
				<table class="qr">
					<% @qr.modules.each_index do |x| %>
						<tr>
							<% @qr.modules.each_index do |y| %>
								<% if @qr.qrcode.checked?(x,y) %>
									<td class="black"/>
								<% else %>
									<td class="white"/>
								<% end %>
							<% end %>
						</tr>
					<% end %>
				</table>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

</script>
