<script type="text/template" id="play-template">
<%= stylesheet_link_tag "style-live-play.css" %>

<div class="container-fluid container-live-play">
	<div class="row">
    	<div id ="pong-area"  class="col text-center">
      		<h1>Le play pong</h1>
    <button type="button" id="sign_in" class="btn btn-primary btn-lg btn-block btn-dark" onclick="new_game(<%=current_user.id%>)">PLAY</button>
    </div>
	<div class="col chat" id="chat_area">
    </div>
</div>
<script>
var guest_id = 0; // set a change in set_content
var current = <%== current_user.id%>;//>

function save_asking_battle(gid)
{
    var AskForGame = Backbone.Model.extend({
        urlRoot: '/ask_for_games'
    })
    var ask_for_game = new AskForGame();
    ask_for_game.save({ask_for_game:{from_user_id: current, to_user_id: gid, status: 'playing'}});

}
//-------------------------------------------------------------------------//

async function new_game(id)
{
    console.log("New game");
    await playercollection.fetch();
    console.log(playercollection.toJSON());
    var players = playercollection.toJSON();
    for (let i = 0; i < players.length; i++)
    {
        if (players[i].user_id == id)
        {
            alert("you are already on list !");
            return ;
        }
    }
    player = new Player({user_id: id});
    player.save();
}
//-------------------------------MAIN--------------------------------------//


socket_notif.onmessage = function(event) {// this function check every message, for know if the message is for her, it check the guest params, if the guest params correspond to the curent id the guest it for her  
    const response = event.data;
    const msg = JSON.parse(response);
	    if (msg.type == "ping" || !msg.message)// dont check the ping message
            return ;
        if (msg.message.data.id_guest == current && msg.message.data.play) // read the second for understand this
        {
			// save_asking_battle(msg.message.data.id_host, msg.message.data.ask_id);
			playview.render();
            pongview.setElement("#pong-area").render(); // has the invitation is validate(value play is on true), the host is redirect to the hostview
        }      
};




</script>
</script>