<script type="text/template" id="play-template">
<%= stylesheet_link_tag "style-live-play.css" %>

<div class="container-fluid container-live-play">
	<div class="row">
    	<div class="col text-center">
      		<h1>Le live pong</h1>
    	</div>
		<div class="col chat">

<!-- Yield here the different chat templates -->





<!-- end chat -->

    	</div>
  	</div>
</div>
</script>