<script type="text/template" id="profile-template">
<%= stylesheet_link_tag "users" %>

    <body>

        <div class="profile-container">
            
            <!-- 1 -->
            <div class="user-actions">
                <div class="user">
                    <div class="avatar">
                        <img src="<%%= target_user.avatar %>" style="width: 300px;"></img>
                    </div>
                    <div class="info">
                        <p class="name">Nom: <%%= target_user.name %></p>
                        <p class="points">Score: <%%= target_user.points %></p>
                        <%% if (guild) { %>
                            <p class="guild-name">Guilde: <%%= guild.name %></p>
                        <%% } else { %>
                            <p class="guild-name">Guilde: aucune</p>
                        <%% } %>
                    </div>
                </div>
                <div class="actions">
                    <%% if (current_user.id == target_user.id) { %>
                        <div class="ask-for-friendship">Can't Add to Friends</div>
                        <div class="ask-for-game">Can't Ask for Game</div>
                    <%% } else { %>
                        <div id="add_to_friend" class="ask-for-friendship">Add to Friends</div>
                        <div id="ask_a_duel" class="ask-for-game">Ask for Game</div>
                    <%% } %>
                </div>
            </div>

            <!-- 2 -->
            <div class="match-history-friends">
                <div class="match-history">
                    <p class="title">Match History</p>
                    <div class="headers">
                        <p class="initiator-name">Initiator</p>
                        <p class="initiator-avatar"></p>
                        <p class="score">Score</p>
                        <p class="opponent-avatar"></p>
                        <p class="opponent-name">Opponent</p>
                        <p class="duration">Duration</p>
                        <p class="date">Date</p>
                    </div>
                    <div class="match-cards">
                        <%% for (let i = 0; i < match_history.games.length; i++) { %>
                            <div class="match-card">
                                <%% let game = match_history.games[i] %>
                                <%% let game_parts = Object.values(match_history.games_participations).filter(p => { return p.game_id == game.id }) %>
                                <%% let sender_part = game_parts[0] %>
                                <%% let recipient_part = game_parts[1] %>
                                <%% let sender = match_history.users[sender_part.user_id] %>
                                <%% let recipient = match_history.users[recipient_part.user_id] %>
                                <p class="initiator-name"><%%= sender.name %></p>
                                <div class="initiator-avatar">
                                    <img src="<%%= sender.avatar %>" style="width: 50px;"> </img>
                                </div>
                                <p class="score"><%%= sender_part.score %> - <%%= recipient_part.score %></p>
                                <div class="opponent-avatar">
                                    <img src="<%%= recipient.avatar %>" style="width: 50px;"> </img>
                                </div>
                                <p class="opponent-name"><%%= recipient.name %></p>
                                <p class="duration"><%%= "5 min" %></p>
                                <p class="date"><%%= timeAgo.format(Date.now() - new Date(game.created_at)) %></p>
                            </div>
                        <%% } %>
                    </div>
                </div>

                <!-- 3 -->
                <div class="friends">
                    <p class="title">Friends</p>
                    <div class="headers">
                        <p class="avatar">Name</p>
                        <p class="name">Name</p>
                        <p class="score">Points</p>
                        <p class="status">Status</p>
                    </div>
                    <div class="friends-cards">
                        <%% for(let i = 0; i < friends.friendships.length; i++) { %>
                            <div class="friend-card">
                                <%% let friend_id = (current_user.id == friends.friendships.sender_id ? friends.friendships[i].sender_id : friends.friendships[i].recipient_id ) %>
                                <div class="avatar">
                                    <img src="<%%= friends.users[friend_id].avatar %>" style="width: 50px;"> </img>
                                </div>
                                <p class="name"><%%= friends.users[friend_id].name %></p>
                                <p class="score"><%%= friends.users[friend_id].points %></p>
                                <p class="status"><%%= friends.users[friend_id].current_status %></p>
                            </div>
                        <%% } %>
                    </div>
                </div>
            </div>
            
        </div>

    </body>
</script>