<%= stylesheet_link_tag "style-sign-in.css" %>

<nav class="navbar navbar-expand-md navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" id="logo">
			<img src="<%= image_url('logo_1.png') %>" width="70" height="70" alt="">
		</a>
	</div>
</nav>

<div class="container-fluide body-page" id="inside-page">
	<div class="container">
		<button type="button" class="btn btn-primary btn-lg btn-block btn-dark">Sign in</button>
	</div>
</div>
