<%= stylesheet_link_tag "style-sign-in.css" %>

<nav class="navbar navbar-expand-md navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" id="logo">
			<img src="<%= image_url('logo_1.png') %>" width="70" height="70" alt="">
		</a>
	</div>
</nav>

<div class="container-fluide body-page" id="inside-page">
	<div class="container">
		<button type="button" id="sign_in" class="btn btn-primary btn-lg btn-block btn-dark">Sign in</button>
		<button type="button" id="fake_sign_in" class="btn btn-primary btn-lg btn-block btn-dark">Fake sign</button>
	</div>
</div>

<script>

$( "#sign_in" ).on( "click", function() {
	console.log("SIGN IN");
	let http 			= "https://api.intra.42.fr/oauth/authorize?";
	let client 			= "client_id=235a071025e8e19cdd302e0cff45e29c2b7c2a8b1fd37bc7cdbf4e2edc452729&";
	let redirect 		= "redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fsessions%2Foauth&";
	let response_type 	= "response_type=code&";
	let scope 			= "scope=public&";
	let state 			= "state=a_very_long_random_string_witchmust_be_unguessable";

	let full 			= http + client + redirect + response_type + scope + state;
	console.log("full:" + full);
	window.location.href = full;
});

$( "#fake_sign_in" ).on( "click", function() {
	console.log("FAKE SIGN IN");
	$.ajax({
			url: "/?id=1&type=fake",
			data: false,
			processData: false,
			contentType: false,
			type: 'GET',
			success: function(){
				window.location.href = "http://localhost:3000";
			}
		})
});


</script>
