<script type="text/template" id="tournament_details-template">
    <input type="hidden" id="tournament_details_hidden_id" value="tournament_details_<%%= tournament_id %>">
    <h1>Tournament Details <%%= tournament_id %></h1>
    <div style="display: flex; flex-direction: row;">
    <div id="tournament_scheme" style="width: 80%;"></div>
    <div id="tournament_live" style="width: 20%;"></div>
    </div>
    <script>
        var TournamentParticipation = Backbone.Model.extend({
            urlRoot: '/tournament_participations'
        });
        var tournament_participation = new TournamentParticipation();
        tournament_participation.fetch({
            data: {type: "all_participants", tournament_id: <%%= tournament_id %>},
            success: function(data){
                data = data.toJSON();
                var users_name = data["users"];
                data = data["participations"];
                console.log("here");
                console.log(data);
                var Tournament = Backbone.Model.extend({
                    urlRoot: '/tournaments'
                });
                var tournament = new Tournament({id: <%%= tournament_id %>});
                tournament.fetch({
                    success: function(data2){
                        data2 = data2.toJSON();
                        console.log(data2);
                        var show_scheme_div = $("#tournament_scheme");
                        var size = Object.keys(data).length;
                        var i = 0;
                        var j = 0;
                        var show_before_clean = false;
                        while (i < size)
                        {
                            if (data[i].nb_won_game == 0 || !data[i].nb_won_game)
                                show_before_clean = true;
                            i++;
                        }
                        i = 0;
                        //data2.step = data2.step - 1;//a enlever;
                        //j = 1;//a enlever
                        while (j <= data2.step && data2.step)
                        {
                            console.log("step");
                            console.log(data2.step);
                            if (data2.step == j)
                                break;
                            show_scheme_div.append("<div id='scheme_step_" + j + "' style='display: flex; flex-direction: row;'>");
                            size = Math.pow(2, j);
                            size = size > Object.keys(data).length ? Object.keys(data).length : size;
                            while (i < Object.keys(data).length)
                            {
                                console.log("step - j : ");
                                console.log(data2.step - j);
                                console.log("won: " + data[i].nb_won_game);
                                if (data[i].nb_won_game >= (data2.step - j))//nb_won_game pas possible a 0 mais => NULL
                                {
                                    console.log("data[i]:", data[i]);
                                    console.log("users_name[data[i].user_id]:", users_name[data[i].user_id]);
                                    
                                    $("#scheme_step_" + j).append("<div class='podium-card' style='text-align: center; width: " + 100/size + "%; background-color: #212529; padding: 10px; margin: 0px;' ><p id='" + "scheme_step_user" + j + "' style='padding: 10px; margin: 0px; background-color: #CCCCCC'>" + users_name[data[i].user_id] + "</p></div>");
                                    let elem = document.getElementById("scheme_step_user" + j);
                                    let link = "/profile/" + data[i].user_id;
                                    elem.onclick = function(ev) { 
                                        Backbone.history.navigate(link, {trigger: true});
                                    };
                                }
                                i++;
                            }
                            j++;
                            i = 0;
                        }
                        if (show_before_clean)
                        {
                            show_scheme_div.append("<div id='scheme_step' style='display: flex; flex-direction: row;'>");
                            size = Object.keys(data).length;
                            while (i < size)
                            {
                                $("#scheme_step").append("<div style='text-align: center; width: " + 100/size + "%;'>" + users_name[data[i].user_id] + "</div>");
                                i++;
                            }
                        }
                    }
                });
            }
        })
        var Tournament = Backbone.Model.extend({
            urlRoot: '/tournaments'
        });
        var tournament = new Tournament({id: <%%= tournament_id %>});
        tournament.fetch({
            data: {type: "games_tournament_live"},
            success: function(data){
                data = data.toJSON();
                var users_name = data["users"];
                data = data["ask_for_games"];
                var show_live_div = $("#tournament_live");
                var size = Object.keys(data).length;
                var i = 0;
                while (i < size)
                {
                    show_live_div.append("<div>" + "<a href='/#live' onclick='ft_go_to_live(" + data[i].from_user_id + ")'>" + users_name[data[i].from_user_id] + "vs" + users_name[data[i].to_user_id] + "</a>" + "</div>");
                    i++;
                }
            }
        });
        function ft_go_to_live(host_id)
        {
            console.log("host+" + host_id);
            save_watch(host_id);
        }
    </script>
</script>