<%= stylesheet_link_tag "style-two_factor_auth.css" %>

<div class="two_factor_auth_view-container">
    <div class="form-container">
    
        <!-- Title -->
        <div class="form-title">
            <h2>Two-factor authentication</h2>    
        <div/>
        <br>

        <!-- Fields -->
        <div class="form-fields">
            <form id="two_factor_auth_form">
         
                <!-- Code -->
                <div class="form-group">
                    <label for="two_factor_auth_form_input">Google Authenticator Code</label>
                    <input type="text" class="form-control" id="two_factor_auth_form_input" placeholder="Saisissez le code à 6 chiffres">
                    <small id="textHelp" class="form-text text-muted">This code should appear on your mobile app.</small>
                </div>
                <br>
                
                <!-- Submit -->
                <button type="submit" id="two_factor_auth_form_submit" class="btn btn-primary">Check code</button>

            </form>
        <div/>
    </div>
</div>

<script>
    $( "#two_factor_auth_form_submit" ).on( "click", function(e) {
        e.preventDefault();
        console.log("submit two_factor_auth_form");
        
        let code = $('#two_factor_auth_form_input').val();
        var formData = new FormData();
        formData.append('code', code);
        
        var session_id = <%== current_user.sessions.last.id %>; // anti jaune >
        
        $.ajax({
            url: "/sessions/" + session_id + "/validation",
            data: formData,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function(res) {
                console.log("ok res: ", res);
                window.location.href = "http://localhost:3000";
            },
            error: function (err) {
                console.log("ko err:", err);
            }
        })
    });
</script>
