<script type="text/template" id="war_info_template">
	<%= stylesheet_link_tag "style_war_info.css" %>
	
	<div class="war_info_container">
		<div class="wi_header">
			<div class="score">
				<h2>Score</h2>
				<p>The order: 1616<br>The Assemble: 1616</p>
			</div>
			<div class="war_date">
				<h2>War</h2>
				<p>25/02/156 to 64/161/63</p>
			</div>
			<div class="c">
				<h2>Prize pool</h2>
				<p>6448 pts</p>
			</div>
		</div>

		<div class="wi_body">

			<div class="war_list">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">War Time</th>
							<th scope="col">Unanswered match</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>25/02/1999 to 25/19/1560</td>
							<td>0/10</td>
						</tr>
						<tr>
						<td>25/02/1999 to 25/19/1560</td>
						<td>0/10</td>
					</tr>
					</tbody>
				</table>
				<button type="button" id="war_radom_match" class="btn btn-md btn-block btn-dark border border-light">Random match</button>
			</div>

			<div class="player_list">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Player</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Flavien roussel</td>
							<td class="btn_td">
								<button type="button" class="btn btn-md btn-block btn-dark border border-light">War duel</button>
							</td>
						</tr>
						<tr>
							<td>Didier</td>
							<td class="btn_td">
								<button type="button" class="btn btn-md btn-block btn-dark border border-light">War duel</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>

</script>