<script type="text/template" id="war_info_template">
	<%= stylesheet_link_tag "style_war_info.css" %>
	
	<div class="war_info_container">
		<div class="wi_header">
			
		</div>

		<div class="wi_body">
			<h2>Opponents players</h2>
			<div class="guild_player">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Player</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>tests</td>
							<td class="btn_td">
								<button type="button" class="btn btn-md btn-block btn-dark border border-light">War duel</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>

</script>