<!-- Mettre dans le balise head -->
<%= stylesheet_link_tag "style-live.css" %>

<div class="container-fluid">
	<div class="row">
    	<div class="col active_game">
			<h2>LEFT</h2>
    	</div>
    	<div class="col text-center">
      		<h1>Le live pong</h1>
    	</div>
		<div class="col chat">
			<div class="chat_header">
				<div class="dropdown">
  					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    					Dropdown button
  					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				  	<a class="dropdown-item" href="#">Action</a>
				  	<a class="dropdown-item" href="#">Another action</a>
				  	<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</div>
			</div>
    	</div>
  	</div>
</div>
