<head>
    <%= stylesheet_link_tag "style-tournament.css" %>
</head>
<body>
<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Player</th>
                <th scope="col">Time left to register</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><p class="bouton">register</p></td>
            </tr>
            <tr>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td><p class="bouton">register</p></td>
            </tr>
            <tr>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>    
</body>