<%= stylesheet_link_tag "style-tournament.css" %>
<body>
<div class="space">
</div>
<div class="body-tournament">
<div class="title">
    <h1>Tournaments</h1>
</div>
<div class="container-tableau2">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Player</th>
                <th scope="col">Time left to register</th>
                <th scope="col"></th>
            </tr>
        </thead>
    </table>
</div>
<div class="container-tableau1">
    <table class="table">
        <tbody>
            <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><p class="bouton"><a href="">register</a></p></td>
            </tr>
            <tr>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td><p class="bouton"><a href="">register</a></p></td>
            </tr>
            <tr>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td></td>
            </tr>
            <tr>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td><p class="bouton"><a href="">register</a></p></td>
            </tr>
            <tr>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td><p class="bouton"><a href="">register</a></p></td>
            </tr>
            <tr>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</body>