body {
    overflow-y: hidden;
    overflow-x: hidden;
 }


#text-menu {
    display: inline-block;
    background: #333333;
    list-style: none;
    width: 100px;
    height: 40px;
    margin: 5px 8px 0 0;
    border-radius: 8px;
    
    text-align: center;
}

#text-menu a{
    text-align: center;
    display: block;
    line-height: 24px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#text-menu:hover{
    background: #666666;
}

.dropdown-menu{
    width: 400px;
}

.drop{
    display: inline;
    margin: 0 10% 0 10%;
}

.navbar{
	padding: 0;
	z-index: 1;
}

.body-page {
    background: #CCCCCC;
	position: absolute;

	top: 70px;
	bottom:0px; 
	left: 0px;
	right: 0px;
    height: auto;
    overflow: hidden;


    border: 6px solid #333333;
    border-radius: 8px;
    margin: 0 5px 5px 5px;
}

#nav_to_profil,
#nav_to_notif,
#nav_to_option {
    color: #333333;
}

#nav_to_profil:hover,
#nav_to_option:hover,
#nav_to_notif:hover {
    color: #666666;
}

.badge{
    position: absolute;
    margin: 0;
    background: #b40a0a;
    color: #ffffff; 
}

