
.container-0{
    height: 100%;
    width: 100%;
}

.container-1{
    padding: 15px;
    width: 90%;
    height: 80%;
    overflow: scroll;
	direction:ltr;
    scrollbar-color: #333333 white;
    background: white;
    border: 4px solid #333333;
    margin: 7% auto 0 auto;
    border-radius: 8px;
}


