.container-head{
    height: 37%;
    margin: auto;
    width: 100%;
/*    border: 2px solid red;*/
    overflow: hidden;
    border-bottom: 2px solid #ebebeb;
}

.space1{
    margin: auto;
    display: block;
    width: 100%;
    height: 20%;
/*    border: 2px solid red;*/
    overflow: hidden;
}

.space2{
    display: inline-block;
/*    border: 2px solid red;*/
    float: left;
    width: 20%;
    height: 100%;
    overflow: hidden;
}

.space3{
    display: inline-block;
  /*  border: 2px solid red;*/
    float: left;
    width: 38%;
    height: 100%;
    overflow: hidden;
}

.space4{
    display: inline-block;
  /*  border: 2px solid red;*/
    float: left;
    width: 30%;
    height: 100%;
    overflow: hidden;
}

.row1{
    width: 100%; 
    height: 40%;
  /*  border: 2px solid red;*/
}

.row2{
    width: 100%; 
    height: 40%;
    padding-top: 1%;
    overflow: hidden;

}

.elem{
    float: left;
    display: inline-block;
}

.fleche{
    width: 15%;
    color: #030303;
}

.fleche:hover{
    color: #4b4a4a;
}

.badge_profil2{
    margin-top: 35px;
    margin-left: -85px;
    display: block;
}

.live-game{
    margin-left: -85px;
    margin-top: 55px;
}

.dropleft{
    z-index: 1;
}

.pseudo{
    font-weight: bold;
}

.info{
    float: left;
}

.profil-photo{
    border: 4px solid #333333;
    border-radius: 8px;
    margin-right: 10px;
    float: left;
}

.name{
    font-style: italic;
}

.ladder{

}

.guilde{

}

.body-tableau{
    overflow: hidden;
    height: 60%;
    width: 80%;
    margin: auto;
}

.title{
    width: 83%;
    color: #333333;
    padding-top: 3%;
    margin: auto;
}

.container-tableau1{
    margin: auto;
    background: #FFFFFF;
    overflow-y:scroll;
    width: 83%;
    height: 60%;
    border: 4px solid #333333;
}

.container-tableau2{
    margin: auto;
    width: 83%;
}

.table{
    margin: 0;
}

thead{
    color: #d0d0d0;
    background: #333333;
}

.bouton2{
    margin-top: 20px;
    float: left;
    display: inline-block; 
    border-radius: 8px;
    background: #333333;
    width: 120px;
    height: 40px;
}

.bouton2 a{
    display: block;
    justify-content: space-between;
    width: 120px;
    height: 40px;
    margin-top: 8px;
    text-align: center;
    text-decoration: none;
    color: #cacaca;
    font-family: Arial, Helvetica, sans-serif;
}

.bouton2:hover{
    background: #808080;
    color: #fcfcfc;
}

tr{
   border-bottom: 1px solid #333333;
}