/*** active game ***/
.active_game {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;

	max-width: 150px;   /* Buggy */
	min-width: 150px;	/*flex:  0 0 350px;*/
	background-color: rgb(200, 200, 200);
}
.active_game h2 {
	font-size:20px;
}
/***********************/

.container-live-play{
	height: 100%;
}
.row{
	height: 100%;
}

#pong{
	height: 55%;
	width: 80%;
	border: 2px solid black;
	margin-top: 5%;
	margin-bottom: 15%;
	border-radius: 8px;
}
.active_game{
	height: 100%;	
	border-right: 4px solid #333333;
}

.text-center{
	background-color: white;
}

.chat {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	max-width: 350px;   /* Buggy */
	min-width: 350px;	/*flex:  0 0 350px;*/
  
	background-color: rgb(200, 200, 200);
	height: 100%;
	border-left: 4px solid #333333;
}

.main_chat_header, .create_chat_header,
.param_chat_header, .protected_chat_header{
	height: 50px;
	border-bottom: 4px solid #333333;
}

/**** Main_chat ****/
.main_chat_header{
    display: flex;
	justify-content: space-between;
	align-items: center;
}

.main_chat_header button{
	/*margin: 5px 0 5px 0;*/
}

#protected_chat_header:hover,
#main_chat_to_create:hover,
#main_chat_to_param:hover,
#back_to_main_chat:hover{
	color: #666666;
}
#protected_chat_header,
#main_chat_to_create,
#main_chat_to_param,
#back_to_main_chat{
	color: #333333;
}

.main_chat_footer {
	padding: 0 0 10px 0; /* Buggy */
}

.main_chat_footer_btn{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*************************/
/*** create_chat, param_chat ***/
.create_chat_header, .param_chat_header{
	display: flex;
	align-items: center;
	position: relative;
}
.create_chat_header a, .param_chat_header a{
	position: absolute;
	right: 0px;
}
/*************************/
/*** create_chat ***/

.create_chat_header h2{
	font-size: 25px;
	position: absolute;
	left: 50px;
	top: 10px
}

/*************************/
/*** param_chat ***/
.param_chat_header h2{
	font-size: 25px;
	position: absolute;
	left: 90px;
	top: 10px
}
/*************************/
/*** protected_chat ***/
.protected_chat_header h2{
	font-size: 25px;
	position: absolute;
	left: 90px;
	top: 10px
}
/*************************/


@media (max-width: 1000px) {
	.active_game {
		max-width: 100px;   /* Buggy */
		min-width: 100px;	/*flex:  0 0 350px;*/
	}
}

@media (max-width: 770px) {
  .chat, .active_game {
	display: none; 
  } 
}


/****************/

.user_list{
	display: flex;
	flex-direction: column;

	height: 80%;

	overflow:auto;
	direction:ltr;
	scrollbar-color: #333333 white;

	background-color: white;
	border: 4px solid #454d55;
}