/* view */
div {
    border: 1px solid red;
}

.profile-container {
    height: 100vh;
    width: 100vm;
    flex-direction: column;
}

/* user */
.profile-container > .user-actions {
    height: 300px;
    width: 100%;
    
    display: flex;
    justify-content: row;
}

.profile-container > .user-actions > .user {
    height: 100%;
    width: 600px;
    display: flex;
    justify-content: stretch;
}

.profile-container > .user-actions > .user > .avatar {
    height: 100%;
    width: 300px;
}

.profile-container > .user-actions > .user > .info {
    height: 100%;
    width: 300px;
}

.profile-container > .user-actions > .actions {
    height: 100%;
    width: 100%;
}

.profile-container > .user-actions > .actions {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile-container > .user-actions > .actions > .ask-for-friendship {
    height: 150px;
    width: 100%;
}

.profile-container > .user-actions > .actions > .ask-for-game {
    height: 150px;
    width: 100%;
}

/* match history - friends */

.profile-container > .match-history-friends {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* match history */

.profile-container > .match-history-friends > .match-history {
    height: 100%;
    width: 50%;
}

/* friends */

.profile-container > .match-history-friends > .friends {
    height: 100%;
    width: 50%;
}

/* .profile-container > .match-history-friends > .friends > .friends-cards {
    overflow: auto;
    height: 100%;
} */