.container-tableau{
    margin: 130px auto;
    background: #FFFFFF;
    overflow-x: hidden;
    overflow-y:scroll;
    width: 85%;
    height: 30%;
}

.table{
/*    margin: 130px auto;*/
/*    border: 3px solid red;*/
/*    display: inline-flexbox;
    height: 20%;*/
    background: #FFFFFF;
  /*  position: absolute;*/
    overflow : visible;
}

thead{
    background: #333333;
    color: #d0d0d0;
}

.bouton{
    border: 4px solid #333333;
    border-radius: 8px;
    background: #8C0303;
    width: 80px;
    margin: 0;
    text-align: center;
}

.bouton a{
    display: block;
    width: 73.5px;
    text-align: center;
    text-decoration: none;
    color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
}

.bouton:hover{
    background: #b40a0a;
/*    border: 4px solid #666666;
    color: #6e6d6d; */
}
/*
.close{
    border: 4px solid #333333;
    border-radius: 8px;
    background: #333333;
    color: #f3f3f3;
    width: 80px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}*/

tr{
    border: 5px solid #333333;
}