.edit_profile_view-container {
	display: flex;
	justify-content: center;
	height: 100%;
}

.form-container{
	display: flex;
	justify-content: center;
	width: 80%;
	max-width: 700px;
	padding-top: 15px;
	margin-top: 3vh;
	margin-bottom: 3vh;

	overflow:auto;
	direction:ltr;
	scrollbar-color: #333333 white;

	border: 4px solid #333333;
	background-color: white;
}
/*
.edit_profile_view-container {
    width: 100vw;
    height: 100vh;
	display: flex;
    justify-content: space-evenly;
}

.edit_profile_view-container .form-container {
    width: 35%;
    min-width: 350px;
	max-width: 500px;*/
	/* background-color: white; */
	/*padding: 20px;
}

#logout {
	margin-top: 5px;
}
*/