body {
    overflow-y: hidden;
    overflow-x: hidden;
 }

#text-menu{
    float: right;
    display: inline-block;
    background: #333333;
    list-style: none;
    width: 100px;
    height: 40px;
    margin: 5px 8px 0 0;
    border-radius: 8px;
}
#text-menu a{
    text-align: center;
    display: block;
    line-height: 24px;
    color: #d0d0d0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    /*border: 3px solid red;*/
}
#text-menu:hover{
    background: #b4b5b4;
}


.navbar{
	padding: 0;
	/*box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.1);*/
	z-index: 1;
}

.navbar-brand{
    margin-left: 15px;
}

#body-page {
    background: #CCCCCC;
	position: absolute;
/**** Chagement **********/
	top: 80px;
	bottom:0px; 
	left: 0px;
	right: 0px;
<<<<<<< HEAD
    /*height: 89.3%;
	width: 99%;*/
	height: auto;
=======
    height: auto;
    overflow: hidden;
/*	width: 99%;*/
>>>>>>> 92534ff37ce21a278d850614b83a78f611a62e51
/*************************/	

    border: 6px solid #333333;
    border-radius: 8px;
    margin: 0 5px 5px 5px;
}

#icon-menu {
    color: #333333;
}

#icon-menu:hover{
    color: #b4b5b4;
}

.badge{
    position: absolute;
    margin: 0;
    background: #b40a0a;
    color: #ffffff; 
}