// Place all the styles related to the user_achievements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* view */
div {
    border: 1px solid red;
}

.profile-container {
    height: 100vh;
    width: 100vm;
    flex-direction: column;

    /* 1 */
    .user-actions {
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: row;
        align-items: center;
        text-align: center;

        /* user */
        .user {
            height: 100%;
            width: 600px;
            display: flex;
            justify-content: stretch;

            .avatar {
                height: 100%;
                width: 300px;
            }
            
            .info {
                height: 100%;
                width: 300px;
            }
        }
        
        /* actions */
        .actions {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            
            .ask-for-friendship {
                height: 150px;
                width: 100%;
            }
            .ask-for-game {
                height: 150px;
                width: 100%;
            }
        }
    }

    /* 2 */

    $card-high: 50px;

    .match-history-friends {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;

        /* match history */
        .match-history {
            height: 100%;
            width: 50%;
            overflow: scroll;

            .headers {
                display: flex;
                p {
                    margin: 0px;
                }
                .initiator-name {
                    flex: 0 0 15%;
                }
                .initiator-avatar {
                    flex: 0 0 15%;
                    // img { width: $card-high; } // doesn't work
                }
                .score {
                    flex: 1;
                }
                .opponent-name {
                    flex: 0 0 15%;
                }
                .opponent-avatar {
                    flex: 0 0 15%;
                }
                .duration {
                    flex: 0 0 15%;
                }
                .date {
                    flex: 0 0 15%;
                }
            }
            
            .match-cards {

                .match-card {
                    height: $card-high;
                    display: flex;
                    p {
                        margin: 0px;
                        line-height: $card-high;
                    }
                    .initiator-name {
                        flex: 0 0 15%;
                    }
                    .initiator-avatar {
                        flex: 0 0 15%;
                    }
                    .score {
                        flex: 1;
                    }
                    .opponent-name {
                        flex: 0 0 15%;
                    }
                    .opponent-avatar {
                        flex: 0 0 15%;
                    }
                    .duration {
                        flex: 0 0 15%;
                    }
                    .date {
                        flex: 0 0 15%;
                    }
                }
            }
            
        }
        
        /* friends */
        .friends {
            height: 100%;
            width: 50%;     
            overflow: scroll;

            .headers {
                display: flex;
                p {
                    margin: 0px;
                }
                .name {
                    flex: 0 0 20%;
                }
                .avatar {
                    flex: 0 0 20%;
                }
                .score {
                    flex: 1;
                }
                .status {
                    flex: 0 0 20%;
                }
            }

            .friends-cards {

                .friend-card {
                    height: $card-high;
                    display: flex;
                    p {
                        margin: 0px;
                        line-height: $card-high;
                    }
                    .name {
                        flex: 0 0 20%;
                    }
                    .avatar {
                        flex: 0 0 20%;
                    }                    
                    .score {
                        flex: 1;
                    }
                    .status {
                        flex: 0 0 20%;
                    }
                } 
            }
        }
    }
}
