<nav class="navbar navbar-expand-lg navbar">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
 </button>
 <a class="navbar-brand" href="<%= root_path %>">
   <img src="<%= image_url('pong_navbar.png') %>" width="100" height="50" alt="">
 </a>
<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
	 <a class="py-2 d-none d-md-inline-block" href="/test">Live</a>
	 <a class="py-2 d-none d-md-inline-block" href="/test">Play</a>
	 <a class="py-2 d-none d-md-inline-block" href="/test">Tournament</a>
	 <a class="py-2 d-none d-md-inline-block" href="/test">Guild</a>
	 <a class="py-2 d-none d-md-inline-block" href="/test">War</a>
  </div>
</div>

</nav>
<hr>