<script type="text/template" id="chat_details-template">
    <input type="hidden" id="detail_chat_in" value="<%%= channel.id %>">
    <div class="details_chat_header">
        <a id="back_to_current_chat" onclick="ft_back_to_conversation()">
            X
        </a>
    </div>
    <div id="participants_to_add">
    </div>
    <div id="list_of_participants">
    </div>
    <script>
        function ft_back_to_conversation()
        {
            var channel_name = <%%= JSON.stringify(channel) %>;
            chatview.setElement("#chat_area").render_chat_main(<%%= JSON.stringify(channel) %>);
        }
        var User = Backbone.Model.extend({
            urlRoot: '/users'
        });
        var user = new User();
        user.fetch(
        {
            data: {users_to_get: "not_participants", channel_id: <%%= channel.id %>},
            success: function(data)
            {
                data = data.toJSON();
                var show_div = $("#participants_to_add");
                show_div.append("<p>Participants To Add</p>");
                var i = 0;
                while (i < Object.keys(data).length)
                {
                    show_div.append("<div><button onclick='ft_add_participant("+ data[i].id +")'>"+ data[i].name +"</button></div>");
                    i++;
                }
            }
        });
        var user2 = new User();
        user2.fetch(
        {
            data: {users_to_get: "participants", channel_id: <%%= channel.id %>},
            success: function(data1)
            {
                var ChannelParticipation = Backbone.Model.extend({
                    urlRoot: '/channel_participations'
                });
                var channel_participation = new ChannelParticipation();
                channel_participation.fetch({
                    data: {user_id: <%== current_user.id %>, receiver_id: <%%= channel.id %>},
                    success: function(data2)
                    {
                        var user = data2.toJSON();
                        data1 = data1.toJSON();
                        var show_div = $("#list_of_participants");
                        show_div.append("<p>list of participants</p>")
                        var i = 0;
                        while (i < Object.keys(data1).length)
                        {
                            show_div.append("<div><a href='/#profil/"+ data1[i].id +"'>" + data1[i].name + "</a>" +
                                            (user.is_admin ? "<button onclick='ft_adminize(" + data1[i].id + ")'>Adminize</button>" : "") +
                                            (user.is_admin && <%%= channel.owner_id %> != data1[i].id ? "<button onclick='ft_kick(" + data1[i].id + ")'>kick</button>" : "") +
                                            "</div>");
                            i++;
                        }
                    }
                });
            }
        });
        function ft_add_participant(id)
        {
            var ChannelParticipation = Backbone.Model.extend({
                urlRoot: '/channel_participations'
            });
            var channel_participation = new ChannelParticipation();
            channel_participation.save(
            {
                user_id: id,
                receiver_id: <%%= channel.id %>,
                name: "<%%= channel.name %>",
                scope: "<%%= channel.scope %>",
                added: true
            },
            {
                success: function()
                {
                    chatview.render_chat_details(<%%= JSON.stringify(channel) %>);
                }
            });
        }
        function ft_adminize(user_id)
        {
            var ChannelParticipation = Backbone.Model.extend({
                urlRoot: '/channel_participations'
            });
            var channel_participation = new ChannelParticipation();
            channel_participation.fetch(
            {
                data: {user_id: user_id, receiver_id: <%%= channel.id %>},
                success: function()
                {
                    channel_participation.unset('created_at');
                    channel_participation.unset('updated_at');
                    channel_participation.set({is_admin: true});
                    channel_participation.save();
                    var notification = new Notification({
                        from_user_id: <%= current_user.id %>,
                        user_id: user_id,
                        table_type: "information",
                        message: "you got adminized in group: <%%= channel.name %>"
                    });
                    notification.save();
                    chatview.render_chat_details(<%%= JSON.stringify(channel) %>);
                }
            });
        }
        function ft_kick(user_id)
        {
            var ChannelParticipation = Backbone.Model.extend({
                urlRoot: '/channel_participations'
            });
            var channel_participation = new ChannelParticipation();
            channel_participation.fetch(
            {
                data: {user_id: user_id, receiver_id: <%%= channel.id %>},
                success: function()
                {
                    channel_participation.destroy(
                    {
                        success: function()
                        {
                            var notification = new Notification({
                                from_user_id: <%== current_user.id %>,
                                user_id: user_id,
                                table_type: "information",
                                message: "you got kicked from group: <%%= channel.name %>"
                            });
                            notification.save();
                            chatview.render_chat_details(<%%= JSON.stringify(channel) %>);
                        }
                    });
                }
            });
        }
    </script>
</script>