<script type="text/template" id="chat_main-template">
	<div class="main_chat_header">
		<a id="main_chat_to_create" >
			<svg width="2.25em" height="2.25em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
			</svg>
		</a>
	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Channels
		</button>
		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
			  <a class="dropdown-item" href="#">channel 1</a>
			  <a class="dropdown-item" href="#">cannal +</a>
			  <a class="dropdown-item" href="#">modo only</a>
			  <a class="dropdown-item" href="#">need upgrade </a>
			  <a class="dropdown-item" href="#">limit char </a>
		</div>
	</div>
	</div>		
	<div class="main_chat_body">
	</div>
	<div class="main_chat_footer">
	<div class="form-group">
		<textarea class="form-control" aria-label="With textarea"></textarea>
	</div>
	<div class="main_chat_footer_btn">
		<a id="main_chat_to_param" >
			<svg width="3.6em" height="2em" viewBox="0 0 16 16" class="bi bi-gear-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 0 0-5.86 2.929 2.929 0 0 0 0 5.858z"/>
			</svg>
		</a>
		<a id="chat" >
			<button type="submit" class="btn btn-primary btn-dark">Chat</button>
		</a>
	</div>
	</div>
</script>