<div class="protected_chat_header">
	<a href="#back_to_main_chat" >
		<svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-x" fill="black" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
		</svg>
	</a>
	<h2>Nom du channel</h2>	
</div>

<div class="protected_chat_body">
	<form>
		<div class="form-group">
			<label for="inputPassword">Password</label>
			<input type="password" id="inputPasswordJoinChannel" class="form-control" aria-describedby="passwordHelpBlock">
		</div>
	</form>
</div>

<div class="protected_chat_footer">
</div>