<h1>Editing Channel Participation</h1>

<%= render 'form', channel_participation: @channel_participation %>

<%= link_to 'Show', @channel_participation %> |
<%= link_to 'Back', channel_participations_path %>
